---
title:  Cache Server Configuration
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

You configure the cache server in two files: `gemfire.properties` for server system-level configuration and `cache.xml` for cache-level configuration.

The configuration of the caches is part of the application development process. See [Cache Initialization File (cache.xml)](../cache-init-file/chapter-overview.html#chapter-overview). The cache-level configuration file is generally referred to as `cache.xml`, but you can use any name.

## <a id="cache-server-config__section_FED30097F6C246DE843EBD8B5292D86C" class="no-quick-link"></a>Configuration File Locations

For the cache server, the `gemfire.properties` file is usually stored in the current working directory.

For the `cache.xml` configuration file, a client looks for the path specified by the `cache-xml-file` attribute in `geode.properties` (see [Attributes in the Properties File](propfile_attributes.html#attributes-gfcpp)). If the `cache.xml` is not found, the process starts with an unconfigured cache.

## <a id="cache-server-config__section_F47DE4D858B04244956B91360AD8967E" class="no-quick-link"></a>Modifying Attributes Outside the gemfire.properties File

In addition to the `gemfire.properties file`, you can pass attributes to the cache server on the gfsh command line. These override any settings found in the `gemfire.properties` file when starting the cache server.
