---
title:  Executing a Query from the Client
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

This
.NET and C++ example uses the example `portfolios` region to show how to execute a query from the client.

**Note:**
In all queries that use the example data, it is assumed that the `portfolios` region has `javaobject.Portfolio` objects on the cache server.

-  If you are using the C++ client, get a pointer to the `QueryService` method.
-  Create a `QueryPtr` to a query (C++) or create a query instance (.NET) that is compatible with the OQL specification.
-  Use the `execute` method for the `Query` interface to submit the query string to the cache server. The server remotely evaluates the query string and returns the results to the client.
-  You can iterate through the returned objects as part of the query process.

## <a id="security__section_15C6689C363B469B947B177E1DE73208" class="no-quick-link"></a>C\#/.NET Example

``` pre
Query<Portfolio> qry = qrySvc.NewQuery("SELECT DISTINCT * FROM /portfolios");
ISelectResults<Portfolio> results = qry.Execute();
SelectResultsIterator<Portfolio> iter = results.GetIterator(); 
while (iter.MoveNext()) {
    Console.WriteLine( iter.Current.ToString());
}
```

## <a id="security__section_79FEE9FE8530496A8FD984C6D6D03894" class="no-quick-link"></a>C++ Example

**Note:**
The C++ examples in this chapter all assume that you have already obtained a pointer to the `QueryService`.

``` pre
QueryServicePtr qrySvcPtr = cachePtr->getQueryService("examplePool");
QueryPtr qry = qrySvcPtr->newQuery(
               "SELECT DISTINCT * FROM /Portfolios WHERE status = ‘active’");
SelectResultsPtr resultsPtr = qry->execute(10);
SelectResultsIterator iter = resultsPtr->getIterator();
while (iter.hasNext()) {
    PortfolioPtr portfolio = dynCast<PortfolioPtr > (iter.next());
}
```
