---
title:  About the .NET Client API
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->


The Microsoft .NET Framework interface for the client provides complete access to the C++ client functionality from any .NET Framework language (C\#, C++/CLI, VB.NET, and J\#). This enables clients using C\# and other .NET languages to use the capabilities provided by the C++ API.

The .NET client uses a set of assemblies managed by the C++ Common Language Infrastructure (C++ CLI). C++ CLI includes the libraries and objects necessary for common language types, and it is the framework for .NET applications.

The .NET API adds .NET Framework CLI language binding for the native client product.

Using C\#, you can write callbacks and define user objects in the cache. The following figure shows an overview of how a C\# application accesses the C++ client API functionality through C++/CLI .

<a id="concept_A97823CFEA20400BBB135AC964746850__fig_D025097BFCEA4D7ABDB173AD6ABE099D"></a>
<span class="figtitleprefix">Figure: </span>C\# .NET Application Accessing the C++ API

<img src="../common/images/6-DotNet_API-1.gif" id="concept_A97823CFEA20400BBB135AC964746850__image_D91728696A7B4E03A04712EF32C5FBEC" class="image imagecenter" />

**Note:**
This chapter uses C\# as the reference language, but other .NET languages work the same way.

The .NET API is provided in the `Apache.Geode.Client` namespace. This namespace allows you to manage your cache, regions, and data.
Use the Geode .NET API to programmatically create, populate, and manage a distributed system.

**Note:**
The .NET library is thread-safe except where otherwise indicated in the API documentation.

