---
title:  Installing on Linux or Solaris
---

Install the native client on Linux or Solaris by extracting the contents of a ZIP file, and setting up the environment.

## <a id="install-unix__section_DE129AB896AB4C9DBDB858AF736D9F43" class="no-quick-link"></a>Installation Prerequisites

Before installing the GemFire native client, complete the following prerequisites:

-   Confirm that your system meets the hardware and software requirements described in [GemFire Native Client Supported Configurations](../getting_started/system_requirements/gemfire_native_client_requirements.html#concept_7AE0C1CB11244095A50CCB52A09A09A1).
-   From the [Pivotal GemFire download page](https://network.pivotal.io/products/pivotal-gemfire), select **Download**.
-   Under File Groups, select and download the Pivotal GemFire native client ZIP file appropriate for your operating system and processor architecture.
    -   For Linux platforms, download `pivotal-gemfire-nativeclient-linux-64bit-XXX.zip`. `XXX` represents the version number of the product, for example `9.0.0`.
    -   For Solaris platforms, download `pivotal-gemfire-nativeclient-Solaris-ARCHITECTURE-64bit-XXX.zip`. `ARCHITECTURE` will be `sparc` or `x86`, matching your platform's processor. `XXX` represents the version number of the product, for example `9.0.0`.

## Uncompress the ZIP File

Uncompress the ZIP file. For example:

```pre
unzip pivotal-gemfire-nativeclient-linux-64bit-9.0.0.zip
```
The directory created is the *product-dir* used in setting environment variables.

## <a id="install-unix__section_C6784F3878ED4A04BEC85CF7C0B7D14C" class="no-quick-link"></a>Environment Variables

Set the environment:

-   Set the `GFCPP` environment variable to *product-dir*.
-   Add `$GFCPP/bin` to the `PATH`.
-   Add `$GFCPP/lib` to the `LD_LIBRARY_PATH`.

