---
title:  Uninstalling the Native Client
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

Uninstalling the native client varies based on operating system.

## <a id="uninstall__section_D82AE460FF1D4D26896DBC21BFEAEF75" class="no-quick-link"></a>Uninstall on Linux and Solaris

To uninstall on Linux and Solaris platforms, delete the product directory and all of its subdirectories.

## <a id="uninstall__section_196B18FE0EC6475096B95C07FA6A18B1" class="no-quick-link"></a>Uninstall on Windows

To uninstall on Windows platforms, use the MSI installer graphical interface, its command-line interface, or the Windows Control Panel.

**Uninstall from MSI Installer Graphical Interface**

1.  Double-click the MSI file, then click Next in the Setup Wizard screen.
2.  In the following screen, click the Remove button.
3.  In the next screen, click the Remove button and then click Finish.

**Uninstall from MSI Installer Command-Line**

Follow this MSI command-line syntax for a quiet uninstall:

``` pre
msiexec /q /x pivotal-gemfire-nativeclient-64bit-XXX.msi ^
DEFAULT_INSTALLDIR=<path>
```

[MSI Command-Line Options](install-windows.html#install-windows__tbl-msi-options) lists common `msiexec` command-line options, along with an explanation of their usage. `msiexec/?` lists all command-line options.
The `/x` option uninstalls the product.

**Uninstall from the Control Panel**

1.  From the Control Panel, open Add or Remove Programs.
2.  Select the appropriate native client installation.
3.  Click the Remove button.

