/build-*/

/cmake-build-*/
/build/
/.settings/
/.cproject
/.project
/.idea/
.vs/
.vscode/

/examples/dotnet/*/bin/
/examples/dotnet/*/obj/
.ruby-version

.DS_Store
.history/

/tools/gnmsg/.idea/
/tools/gnmsg/__pycache__/

/netcore/*/bin/
/netcore/*/obj/
/netcore/*/build/
