---
title:  Cache APIs
---

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

The client has two cache APIs, `RegionService` and `Cache`.

## <a id="caching-apis__section_8F81996678B64BBE94EF352527F7F006" class="no-quick-link"></a>RegionService API

`RegionService` provides:

-   Access to existing cache regions.
-   Access to the query service for the cache, which sends queries to the servers. See [Remote Querying](../remote-querying/remote-querying.html) and [Continuous Querying](../continuous-querying/continuous-querying.html).

`RegionService` is inherited by `Cache`.

You do not use instances of `RegionService` except for secure client applications with many users. See [Creating Multiple Secure User Connections with RegionService](../security/createsecureconnregionservice.html).

## <a id="caching-apis__section_403383B9B5044A939A89A5BBB4915452" class="no-quick-link"></a>Cache API

Use the `Cache` to manage your client caches. You have one `Cache` per client.

The `Cache` inherits `RegionService` and adds management of these client caching features:

-   Region creation.
-   Subscription keepalive management for durable clients.
-   Access to the underlying distributed system.
-   `RegionService` creation for secure access by multiple users.

