---
title: Pivotal GemFire Native Client 9.0 Release Notes
---
<a id="topic_f4h_hwt_v4"></a>

## <a id="topic_5mbwjl" class="no-quick-link"></a>What's New in Pivotal GemFire Native Client 9.0

The Pivotal GemFire Native Client 9.0 includes these new features and changes:

-   **A simplified DLL loading** leads to fewer run time errors,
because there is only a single .NET assembly to load.
This is particularly beneficial for .NET web applications that run under IIS.

-   **GEM-145**: Adds support for two-phase commit transactions.

-   Native Client version 9.0 works with Pivotal GemFire versions 8.2.1 and later.

## <a id="topic_ell_lg5_v4" class="no-quick-link"></a>Installing the GemFire Native Client 9.0

Download the Pivotal GemFire Native Client 9.0 from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

There is a ZIP format for Linux and Solaris platforms,
and there is an MSI format for Windows platforms.

See [Installing the Native Client](../introduction/install-overview.html) for installation instructions.

## <a id="NC-ResolvedIssues" class="no-quick-link"></a>Resolved Issues in Pivotal GemFire Native Client

### <a id="NC9.0.4-ResolvedIssues" class="no-quick-link"></a>9.0.4

-   **GEMNC-322**: Better handling of OQL queries across AppDomains in IIS
eliminates an inappropriately thrown exception. 

### <a id="NC9.0.3-ResolvedIssues" class="no-quick-link"></a>9.0.3

-   **GEMNC-281**: Fixed a buffer overflow bug that occurred during
serialization.

### <a id="NC9.0.2-ResolvedIssues" class="no-quick-link"></a>9.0.2

-   **GEMNC-12**: The OpenSSL version is upgraded to 1.0.1t.

-   **GEMNC-14**: The `libxml2` version is upgraded to 2.9.4.

-   **GEMNC-26**: The error message `versionTags is NULL and of zero size`
will no longer be generated if version tags are not specified in the header.

-   **GEMNC-90**: C++ signal handling is now done by the operating system,
instead of going through a custom core dump handler.
As a result, signal handling is more accurate.

-   **GEMNC-108**: Fixed a bug that could have resulted in a corrupted
function's result collector.
The bug was caused by error handling code operating outside of
the guarded scope intended to modify the result collector.

-   **GEMNC-117**: Memory usage is improved for `getASCIIString` when 
calculating the encoded length.

### <a id="NC9.0.1-ResolvedIssues" class="no-quick-link"></a>9.0.1

-   **GEM-898**: The `removeAll` operation now correctly assigns
sequence numbers based on the number of items removed.

### <a id="NC9.0.0-ResolvedIssues" class="no-quick-link"></a>9.0.0

-   **GEM-45**: Added UpdateLocatorListInterval attribute at pool to control the frequency of updating locator list.
-   **GEM-191**: Moved inline function definitions to later in the source for compilation correctness.
-   **GEM-228**: Properly close connections after an exception occurs.
-   **GEM-336**: Fixed an access violation in HostStatHelperWin when ProcessObj was NULL.
-   **GEM-533**: Updated the SSL module to support OpenSSL 1.0.1s.
-   **GEM-545**: Corrected a bug in the deserialization of nested PDX objects.
-   **GEM-546**: Fixed a memory leak in the continuous query API for .NET clients.

