<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
    <a class="sidenav-title" data-behavior="SubMenuMobile">
        Doc Index</a>
    <div class="nav-content">
        <ul>
            <li>
                <a href="/docs/guide-native/11/about_native_client_users_guide.html">Pivotal GemFire Native Client 9.0 Documentation</a>
            </li>
            <li>
                <a href="/docs/guide-native/11/relnotes/release_notes_nc-9.0.html">Pivotal GemFire Native Client 9.0 Release Notes</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/docs/guide-native/11/getting_started/system_requirements/gemfire_native_client_requirements.html">Supported Configurations and System Requirements</a>
            </li>
        </ul>
        <ul>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/introduction/native-client-intro.html">Getting Started with a Native Client</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/introduction/native-client-overview.html">About the Native Client</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/introduction/install-overview.html">Installing the Native Client</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/install-unix.html">Installing on Linux or Solaris</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/install-windows.html">Installing on Windows</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/uninstall.html">Uninstalling the Native Client</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/introduction/running-client-apps.html">Running Native Client Applications</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/developing-linux.html">Developing C++ Programs on Linux</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/developing-solaris.html">Developing C++ Programs on Solaris</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/developing-windows.html">Developing C++ Programs on Windows</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/introduction/quickstart.html">QuickStart Examples</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/quickstart.html#ConfiguringQSE">Configuring the QuickStart Environment</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/quickstart.html#AboutQSE">About the QuickStart Examples</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/quickstart.html#RunningQSE">Running the Examples</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/introduction/quickstart.html#BuildingQSE">Building the Examples</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/setting-properties/chapter-overview.html">Setting System Properties</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/setting-properties/config-overview.html">Configuring the Client and Cache Server</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/setting-properties/native-client-config.html">Client Configuration</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/setting-properties/cache-server-config.html">Cache Server Configuration</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/setting-properties/attribute-def-priority.html">Attribute Definition Priority</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/gfcpp.properties/gfcpp.properties_search_path.html">Search Path for Multiple gfcpp.properties Files</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/gfcpp.properties/overriding_gfcpp.properties.html">Overriding gfcpp.properties Settings</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/setting-properties/define-programmatically.html">Defining Properties Programmatically</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/setting-properties/attributes-gfcpp.html">Attributes in gfcpp.properties</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/gfcpp.properties/chapter_overview.html">gfcpp.properties Example File</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/gfcpp.properties/default_sample_file.html">Using the Default Sample File</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/client-cache/chapter-overview.html">Configuring the Native Client Cache</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/client-cache/caches.html">Caches</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/overview-client-cache.html">About the Native Client Cache</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/caching-apis.html">Cache APIs</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/cache-ownership.html">Local, Remote, and Distributed Caches</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/create-access-cache.html">Creating and Accessing a Cache</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/closing-cache.html">Closing the Cache</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cache-init-file/chapter-overview.html">Cache Initialization File (cache.xml)</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/client-cache/regions.html">Regions</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/declarative-region-creation.html">Declarative Region Creation</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/programmatic-region-creation.html">Programmatic Region Creation</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/invalidating-region.html">Invalidating and Destroying Regions</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/region-access.html">Region Access</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/getting-the-region-size.html">Getting the Region Size</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/client-cache/entries.html">Region Entries</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/requirements-for-distrib.html">Entry Distribution Requirements</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/registering-interest-for-entries.html">Registering Interest for Entries</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/using-serverkeys-to-retrieve.html">Using serverKeys to Retrieve a Set of Region Keys</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/adding-entries-to-cache.html">Adding Entries to the Cache</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/updating-entries.html">Updating Entries</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/accessing-entries.html">Accessing Entries</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/invalidating-cached-entries.html">Invalidating or Destroying Cached Entries</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/notification-for-operations.html">Notification for Operations</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/client-cache/consistency_checking_in_regions.html">Region Consistency</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/client-cache/region-attributes.html">Region Attributes</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/specify-region-attributes.html">Specifying Region Attributes</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/region-shortcuts.html">RegionShortcuts</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/region-attributes-desc.html">Mutable and Immutable Region Attributes</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/caching-enabled.html">CachingEnabled</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/initial-capacity.html">InitialCapacity</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/load-factor.html">LoadFactor</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/concurrency-level.html">ConcurrencyLevel</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/concurrency-checks-enabled.html">ConcurrencyChecksEnabled</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/lru-entries-limit.html">LruEntriesLimit</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/disk-policy.html">DiskPolicy</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/persistence-manager.html">PersistenceManager</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/expiration-attributes.html">Specifying Expiration Attributes</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/client-cache/application-plugins.html">Application Plug-ins</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/client-cache/cache-management.html">Cache Management</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/client-to-server-connection.html">Client-to-Server Connection Process</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/controlling-cache-size.html">Controlling Cache Size</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/managing-lifetime-cached-object.html">Managing the Lifetime of a Cached Object</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/using-thread-safety.html">Using Thread Safety in Cache Management</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/client-cache/troubleshooting.html">Troubleshooting</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/cpp-caching-api/cpp-caching-api.html">Pivotal GemFire Native Client C++ API</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/gfe-cpp-api.html">About the Native Client C++ API</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/creating-cache.html">Creating a Cache</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/creating-region.html">Creating a Proxy Client-Side Region</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/add-entry-to-cache.html">Adding an Entry to the Cache</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/accessing-entry.html">Accessing an Entry</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/removing-entry.html">Removing an Entry</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/cpp-caching-api/serialization_overview.html">Serializing Data</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/region_data_requiring_serialization.html">Region Data Requiring Serialization</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/serialization_options.html">Data Serialization Options</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/cpp-caching-api/pdx_serialization.html">Serializing Data with PDX Serialization</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/using_pdxserializer.html">Serialize Your Domain Objects with PdxSerializer and PdxWrapper</a>
                                            </li>
                                            <li class="has_submenu">
                                                <a href="/docs/guide-native/11/cpp-caching-api/pdxserializable_interface.html">Serialize Using the PdxSerializable Class</a>
                                                <ul>
                                                    <li>
                                                        <a href="/docs/guide-native/11/cpp-caching-api/performing_ops_with_pdx_object.html">Performing put, get, and localDestroy Operations with a PDX Domain Object</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/pdx_auto_serialization.html">Using Automatic PDX Serialization</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/using_pdxinstance.html">Programming Your Application to Use PdxInstances</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/pdx_ignore_unread_fields.html">Configuring PDX to Ignore Unread Fields During Deserialization</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/using_pdxinstancefactory.html">Using PdxInstanceFactory to Create PdxInstances</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/using_enum_type_with_pdx.html">Using C++ Enum Type with PDX Serialization</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/cpp-caching-api/pdx_with_delta_propagation.html">Using PDX Serialization with Delta Propagation</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/serialization_using_serializable.html">Serializing Data with the Serializable Interface</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/object-graphs.html">Serializing Object Graphs</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/data-as-blob.html">Serializing and Accessing Data as a Blob</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/user-defined-objects.html">Implementing User-Defined Objects in Java Clients</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/using-custom-class.html">Using a Custom Class</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/cpp-caching-api/creating-new-statistics.html">Creating New Statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-caching-api.html">Pivotal GemFire Native Client .NET API</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/dotnet-caching-api/csharp-dotnet-api.html">About the Native Client .NET API</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/csharp-dotnet-naming-conventions.html">.NET Naming and Usage Conventions</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/dotnet-caching-api/primary-apis-cache-generic.html">Primary APIs</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/cache-apis.html">Cache APIs</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/region-entry-apis.html">Region and Entry APIs</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/data-serialization-apis.html">Data Serialization APIs</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/event-handling-apis.html">Event Handling APIs</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/other-apis.html">Property Collections and Logging APIs</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/cpp-class-to-dotnet-class-mappings.html">C++ Class to .NET Class Mappings</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/java-to-dotnet-type-mapping.html">Java to .NET Type Mapping Table</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/object-lifetimes.html">Object Lifetimes</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-application-domains.html">.NET Application Domains</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/problem-scenarios.html">Problem Scenarios</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/creating-a-cache.html">Creating a Cache</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/creating-a-region.html">Creating a Region</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-adding-entry-to-cache.html">Adding an Entry to the Cache</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-accessing-an-entry.html">Accessing an Entry</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/removing-entry.html">Removing an Entry</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-data-serialization.html">Data Serialization</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-data-serialization-options.html">Data Serialization Options</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-pdx-serialization.html">Serialize with PDX Serialization</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-pdx-serialization-features.html">GemFire PDX Serialization Features</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/dotnet-pdx-autoserializer.html">Serialize Using the GemFire PDX Autoserializer</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/extending-pdx-autoserializer.html">Extend the PDX Autoserializer</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/serializing-domain-objects.html">Serialize Your Domain Objects with IPdxSerializer</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/serialize-using-ipdxserializable.html">Serialize Using the GemFire IPdxSerializable Interface</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/programming-ipdxinstance.html">Program Your Application to Use IPdxInstance</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/using-ipdxinstancefactory.html">Use the IPdxInstanceFactory to Create IPdxInstances</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/mapping-dotnet-domain-type-names.html">Map .NET Domain Type Names to PDX Type Names with IPdxTypeMapper</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/dotnet-caching-api/serialize-using-igfserializable.html">Serialize with the GemFire IGFSerializable Interface</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/serializable-types.html">Generic and Custom Serializable Types</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/how-igfserializable-works.html">How Serialization Works with IGFSerializable</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/implementing-igfserializable.html">Implement the IGFSerializable Interface</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/dotnet-caching-api/registering-the-type.html">Register the Type</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/custom-class-igfserializable.html">Using a Custom Class With IGFSerializable</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/application-callbacks.html">Application Callbacks</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/dotnet-caching-api/simple-csharp-example.html">A Simple C# Example</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/dotnet-caching-api/troubleshooting-dotnet-applications.html">Troubleshooting .NET Applications</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/resolving-the-error.html">Resolving the Error</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/private-assembly.html">Using GemStone.GemFire.Cache.dll As a Private Assembly</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/dotnet-caching-api/implementing-shared-assembly.html">Implementing the Shared Assembly</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/preserving-data/preserving-data.html">Preserving Data</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/preserving-data/high-availability-client-server.html">High Availability for Client-Server Communication</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/configuring-nc-ha.html">Configuring Clients for High Availability</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/sending-periodic-ack.html">Sending Periodic Acknowledgment</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/preserving-data/using-queue-conflation.html">Enabling Queue Conflation to Improve Update Performance</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/preserving-data/durable-client-messaging.html">Durable Client Messaging</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/durable-client-messaging-req.html">Durable Client Messaging Requirements</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/preserving-data/client-side-config.html">Client-Side Configuration</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/configuring-durable-nc.html">Configuring a Durable Client</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/config-durable-interest-keys.html">Configuring Durable Interest in Keys</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/config-durable-reconnect.html">Configuring Durable Client Reconnection</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/sending-cache-ready-message.html">Sending Cache Ready Messages to the Server</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/disconnecting-from-server.html">Disconnecting from the Server</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/preserving-data/durable-client-life-cycle.html">Life Cycle of a Durable Client</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/initial-operation.html">Initial Operation</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/disconnection.html">Disconnection</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/reconnection.html">Reconnection</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/durable-message-replay.html">Durable Message Replay</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/preserving-data/app-ops-during-int-reg.html">Application Operations During Interest Registration</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/preserving-data/impl-cache-listeners-durable-clients.html">Implementing Cache Listeners for Durable Clients</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/security/overviewsecurity.html">Security</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/security/overviewauthentication.html">Authentication</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/security/authentication-levels.html">Process and Multiuser Authentication</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/systempropsforauth.html">Configuring Credentials for Authentication</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/authforcacheserver.html">Configuring Authentication by the Cache Server</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/handling-serv-auth-errors.html">Server Authentication Errors</a>
                                    </li>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/security/createsecureconnregionservice.html">Creating Multiple Secure User Connections</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/security/caveatregionservice.html">Requirements and Caveats for RegionService</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/LDAPserverauth.html">Using an LDAP Server for Client Authentication</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/security/encrypted-auth.html">Encrypted Authentication</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/security/overviewencryptcred.html">Encrypt Credentials with Diffe-Hellman</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/PKCS.html">Using PKCS for Encrypted Authentication</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/security/overviewclientauthorization.html">Client Authorization</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/security/config-clientauthorization.html">Configuring Client Authorization</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/postopauthorization.html">Post-Operative Authorization</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/security/usingoperationcontext.html">
                                            Determining Pre- or Post-Operation Authorization</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/security/security-systemprops.html">Security-Related System Properties (gfcpp.properties)</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/security/sslclientserver.html">SSL Client/Server Communication</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/remote-querying/remote-querying.html">Remote Querying</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/remote-querying/91-quickintro/1-quickintro-overview.html">Remote Querying Basics</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/91-quickintro/4-quickintro-exampleportfolioregion.html">Examples Data and Class Definitions</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/91-quickintro/2-quickintro-querycodeexamples.html">Executing a Query from the Native Client</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/91-quickintro/41-quickintro-query-portfolioregion.html">Querying the Portfolios Region</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/91-quickintro/42-quickintro-modify-cachecontents.html">Modifying Cache Contents</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/94-indexes/indexes-overview.html">Creating Indexes</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/91-quickintro/3-quickintro-requirements.html">Remote Querying Requirements</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/1-querystring-overview.html">Using Query Strings in the Native Client</a>
                                <ul>
                                    <li class="has_submenu">
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/3-from-clause.html">FROM Clause</a>
                                        <ul>
                                            <li>
                                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/3a-iterator-variables.html">Using Iterator Variables</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/3b-importing-using-object-classes.html">Importing and Using Object Classes</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/3c-predefined-class-types.html">Predefined Class Types</a>
                                            </li>
                                            <li>
                                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/3d-specify-object-types.html">Specifying the Object Types of FROM Clause Collections</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/6-select-projection-list.html">SELECT Projection List</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/7-select-statement-query-results.html">SELECT Statement Query Results</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/4-where-clause.html">WHERE Clause</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/5-joins.html">Joins</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/remote-querying/92-querylanguage/2-accessingdata.html">Accessing Cached Data</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/92-querylanguage/21-basic-region-access.html">Basic Region Access</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/92-querylanguage/23-attribute-visibility.html">Attribute Visibility</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/92-querylanguage/22-drilldown-modify-query-scope.html">Modifying Query Scope</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/92-querylanguage/24-nested-query-scope.html">Nested Query Scopes</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/92-querylanguage/25-when-names-cant-resolve.html">When Names Cannot Be Resolved</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/remote-querying/93-querystrings/8-query-language-elements.html">Query Language Elements</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/8a-method-invocation.html">Method Invocation</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/8b-query-lang-literals.html">Query Language Literals Supported by Native Client</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/93-querystrings/8c-type-conversions.html">Type Conversions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/remote-querying/95-remotequeryapi/1-remote-query-api-overview.html">Remote Query API</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/95-remotequeryapi/2-create-manage-queries.html">Creating and Managing Queries</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/95-remotequeryapi/3-query-result-sets.html">Query Result Sets</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/96-progexamples/2-query-code-examples-resultset.html">Query Code Samples Returning ResultSet</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/remote-querying/96-progexamples/3-query-code-examples-structset.html">Query Code Samples Returning StructSet</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/continuous-querying/continuous-querying.html">Continuous Querying</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/continuous-querying/1-how-cont-query-works.html">How Continuous Querying Works</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/continuous-querying/5-implementing-cq.html">Implementing a Continuous Query</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/2-config-for-continuous-querying.html">Configuring Your System for Continuous Querying</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5a-writing-cq.html">Writing the Continuous Query</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5b-writing-cq-listener.html">Writing the CQ Listener or CQ Status Listener</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5c-cq-event-object.html">CqEvent Object</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5e-running-cq-code.html">Running the Continuous Query Code</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5f-cq-execution-options.html">CQ Execution Options</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/continuous-querying/5d-when-error-occurs.html">When an Error Occurs in a Running CQ</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/continuous-querying/6-managing-cqs.html">Managing Continuous Queries</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/continuous-querying/3-native-client-cq-api.html">CQ API and Main Features</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/connection-pools/connection-pools.html">Using Connection Pools</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/connection-pools/client-load-balancing.html">How Client Load Balancing Works</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/about-server-locators.html">Server Locators</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/about-connection-pools.html">Connection Pools</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/discovering-locators-dynamically.html">Discovering Locators Dynamically</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/connection-pools/configuring-pools.html">Configuring Pools</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/native-client-pool-api.html">Native Client Pool API</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/configuring-pools-attributes-example.html">Pool Configuration Example and Settings</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/subscription-properties.html">Subscription Properties</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/connection-pools/running-connection-pool-code.html">Running the Connection Pool Code</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/transactions/transactions.html">Transactions</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/transactions/how-native-client-xacts-work.html">How Native Client Transactions Work</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/transactions/running-native-client-xact.html">Running a Native Client Transaction</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/transactions/suspend-resume-xacts.html">Suspending and Resuming Transactions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/function-execution/function-execution.html">Function Execution</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/function-execution/data-aware-function-execution.html">Understanding Data-Aware Function Routing</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/function-execution/how-functions-execute.html">How Functions Execute</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/function-execution/executing-functions.html">Executing Functions</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/function-execution/running-function.html">Running the Function</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/function-execution/handling-function-results.html">Programming to Get Function Results</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/function-execution/solutions-use-cases.html">Solutions and Use Cases</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/delta-propagation/delta-propagation.html">Delta Propagation</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/delta-propagation/how-delta-propagation-works.html">How Delta Propagation Works</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/delta-propagation/delta-propagation-api.html">Delta Propagation API</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/delta-propagation/delta-propagation-properties.html">Cloning</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/delta-propagation/implementing-delta-propagation.html">Implementing Delta Propagation</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/delta-propagation/performance.html">Exceptions and Limitations</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/programming-examples/programming-examples.html">Programming Examples</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/programming-examples/native-client-region.html">Declaring a Native Client Region</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/programming-examples/csharp-example.html">API Programming Example  C#</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/programming-examples/cpp-example.html">API Programming Example  C++</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/programming-examples/serialization-overview.html">Data Serialization Examples</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/programming-examples/serialization-cpp.html">C++ Serialization Example</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/programming-examples/serialization-csharp.html">C# Serialization Example</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/programming-examples/serialization-java.html">Java Serialization Example</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/type_mappings/chapter_overview.html">Interoperability of Language Classes and Types</a>
                        <ul>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/type_mappings/cpp-class-to-dotnet-class-mappings.html">C++ Class to .NET Class Mappings</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/cpp-caching-api/type_interoperability.html">Interoperability of C++ Types When Using PDX Serialization</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/type_mappings/java-to-dotnet-type-mapping.html">Java to .NET Type Mapping Table</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/system-statistics/chapter_overview.html">System Statistics</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/system-statistics/sampling_statistics.html">Sampling Statistics</a>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/system-statistics/system_performance_statistics.html">System Performance Statistics</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/region_statistics.html">Region Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/cache_performance_statistics.html">Cache Performance Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/continuous_query_statistics.html">Continuous Query Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/cq_service_statistics.html">CQ Service Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/pool_statistics.html">Pool Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/delta_statistics.html">Delta Statistics</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="/docs/guide-native/11/system-statistics/operating_system_statistics.html">Operating System Statistics</a>
                                <ul>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/linux_os_statistics.html">Linux Process Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/solaris_os_statistics.html">Solaris Process Statistics</a>
                                    </li>
                                    <li>
                                        <a href="/docs/guide-native/11/system-statistics/windows_os_statistics.html">Windows Process Statistics</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_submenu">
                        <a href="/docs/guide-native/11/sqlite-persistence/chapter_overview.html">Installing the SQLite Persistence Manager</a>
                        <ul>
                            <li>
                                <a href="/docs/guide-native/11/sqlite-persistence/linux_install.html">Linux Installation</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/sqlite-persistence/solaris_install.html">Solaris Installation</a>
                            </li>
                            <li>
                                <a href="/docs/guide-native/11/sqlite-persistence/windows_install.html">Windows Installation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/docs/guide-native/11/glossary.html">Glossary</a>
                    </li>
        </ul>
    </div>
</div>
