---
title:  Installing on Windows
---

Install the native client by using the Windows installer GUI interface or the command line.

## <a id="install-windows__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD" class="no-quick-link"></a>Prerequisites

Before installing the GemFire native client, complete the following prerequisites:

-   Confirm that your system meets the hardware and software requirements described in [Windows Support Details](../getting_started/system_requirements/gemfire_native_client_requirements.html#concept_7AE0C1CB11244095A50CCB52A09A09A1__section_3A8A0684D68E467EBA498D939E91C5AA).
-   From the [Pivotal GemFire download page](https://network.pivotal.io/products/pivotal-gemfire), select **Download**.
-   On the Pivotal GemFire product download page, select and download the Pivotal GemFire native client MSI appropriate for your hardware architecture.

**Note:**
If you do not install the native client using the MSI installer or the msiexec command-line, then you will need to manually perform the configuration steps, such as configure your `GFCPP` and `PATH` environment variables, and install the Microsoft Visual C++ 2013 Redistributable Package.

## <a id="install-windows__section_891A3F2E92114707BC493D322F9B7BA7" class="no-quick-link"></a>Install with the Windows Installer

The native client can be installed on Windows by using the `pivotal-gemfire-nativeclient-64bit-XXX.msi` Windows installer. `XXX` represents the version of the product, for example `9.0.0`. The installer requires `msiexec` version 3.0 or higher.

While logged in with administrative privileges,
double-click the MSI file to start the installation.
Enter the installation location of the native client when prompted.

The MSI installer installs the Microsoft Visual C++ 2013 Redistributable Package for your platform architecture ([https://www.microsoft.com/en-us/download/details.aspx?id=40784](https://www.microsoft.com/en-us/download/details.aspx?id=40784)). This package contains runtime libraries required by the native client.

The MSI installer automatically configures these native client system environment settings:

-   Sets the `GFCPP` environment variable to *product-dir*, where *product-dir* represents the installation location chosen.
-   Adds `%GFCPP%\bin` to the Windows `PATH`.

## <a id="install-windows__section_7186EF9239D4470C92CDA16E17F51367" class="no-quick-link"></a>Install from the MSI Command Line

To use the command line for installation, substitute an appropriate value for `XXX` in a command with syntax:

``` pre
msiexec /q /i pivotal-gemfire-nativeclient-64bit-XXX.msi ^
DEFAULT_INSTALLDIR=<path>
```

The following table lists common `msiexec` command-line options, along with an explanation of their usage. For a list of all command-line options, enter `msiexec/?`.

<a id="install-windows__tbl-msi-options"></a>

| Option                      | Explanation                                                         |
|-----------------------------|---------------------------------------------------------------------|
| `/q`                        | Creates a quiet installation with no interface or prompts.          |
| `/i`                        | Indicates that the product is to be installed or configured.        |
| `DEFAULT_INSTALLDIR=<path>` | Specifies the destination directory, if different from the default. |
| `/x`                        | Indicates a product uninstall procedure.                            |

## <a id="install-windows__section_93E5390751F442BB8A3377814A81B105" class="no-quick-link"></a>Repair a Windows Installation

If problems occur with your Windows native client installation you can initiate a repair operation to restore any missing elements or registry settings.

1.  Double-click the MSI file, then click Next in the Setup Wizard screen.
2.  In the following screen, click the Repair button.
3.  In the next screen, click the Repair button.

