---
title:  VSD System Requirements
---

View a list of platforms that are known to work with VSD.

<a id="concept_9D005BF78EB7465DB735DB0755EE8EF8__section_1C59400B735448B18C2DEA7FD6365D2C"></a>
The following platforms are known to work with the current VSD release:

-   RedHat 6
-   SLES 8
-   SLES 9
-   SLES 10
-   Mac OSX
-   Windows Server 2008
-   Windows 7 (Note: Requires slight modification; see below.)

**64-Bit Platform Support**

VSD is a 32-bit application. If you are running VSD on a 64-bit operating system, you may need to install 32-bit OS libraries to run the application if they are not already installed. On Linux, to find out which libraries are missing you can try running the following:

``` pre
ldd <product_dir>/tools/vsd/bin/vsdwishLinux
```

For 64-bit Windows, you can modify the scripts and executables as described in the note below.

**Windows 7 and Later Support**

To use VSD on Windows 7, perform the following steps:

1.  Start Windows Explorer and navigate to the `GemFireProductDir\tools\vsd\bin\` directory (where *GemFireProductDir* corresponds to the location where you installed GemFire.)
2.  Right click and select properties for vsd.bat.
3.  Select the Compatibility tab.
4.  Click "Run this program in compatibility mode for" and then select Windows XP SP3.
5.  Repeat steps 2 and 3 for all the other executables in the `bin` directory.


