<div class="copyright">
  <a href='/'>Pivotal Documentation</a>
  &copy; <%= Time.now.year %> <a href='http://pivotal.io'>Pivotal Software</a>, Inc. All Rights Reserved.
</div>
<div class="support">
  Need help? <a href="<%=vars.support_url%>" target="_blank">Visit Support</a>
</div>
