<div class="header-item searchbar js-searchbar">
  <a class="search-icon" data-behavior="Search"></a>
  <div class="search-input">
    <!-- Google CSE Search Box -->
    <div class="search-input-inner" id="docs-search">
      <gcse:search as_sitesearch="gemfire-native.docs.pivotal.io"></gcse:search>
    </div>
  </div>
</div>
